services:
  {{SERVICE_NAME}}:
    image: {{DOCKER_IMAGE}}
    restart: unless-stopped
{{COMPOSE_COMMAND_BLOCK}}
{{COMPOSE_ENV_BLOCK}}
{{COMPOSE_ENV_FILE_BLOCK}}
{{COMPOSE_VOLUMES_SECTION}}
    networks:
      - cloud-forge

networks:
  cloud-forge:
    name: cloud-forge
