{
  "ROSTemplateFormatVersion": "2015-09-01",
  "Description": "{{APP_NAME}} on Cloud Forge CLI - Aliyun cn-hongkong bootstrap",
  "Parameters": {
    "InstanceType": {
      "Type": "String",
      "Default": "{{ALIYUN_INSTANCE_DEFAULT}}",
      "AllowedValues": [{{ALIYUN_INSTANCE_OPTIONS_JSON}}]
    },
    "ImageId": {
      "Type": "String",
      "Default": "{{ALIYUN_IMAGE_DEFAULT}}"
    },
    "KeyPairName": { "Type": "String" },
    "VpcId": { "Type": "String" },
    "VSwitchId": { "Type": "String" },
    "AllowedIP": { "Type": "String", "Default": "0.0.0.0/0" },
    "CaddyTlsMode": {
      "Type": "String",
      "Default": "ip-letsencrypt",
      "AllowedValues": ["auto", "ip-letsencrypt", "http", "internal"]
    },
    "DiskSize": { "Type": "Number", "Default": {{ALIYUN_DISK_DEFAULT}}, "MinValue": 20, "MaxValue": 500 },
    "DomainName": { "Type": "String", "Default": "" },
    "DnsDomainName": { "Type": "String", "Default": "" },
    "DnsRR": { "Type": "String", "Default": "" },
    "CaddyEmail": { "Type": "String", "Default": "" }{{APP_SECRET_PARAMS_BLOCK}}
  },
  "Conditions": {
    "UseHttp": { "Fn::Equals": [{ "Ref": "CaddyTlsMode" }, "http"] },
    "HasDomain": {
      "Fn::Not": {
        "Fn::Equals": ["", { "Ref": "DomainName" }]
      }
    },
    "HasDnsDomain": {
      "Fn::Not": {
        "Fn::Equals": ["", { "Ref": "DnsDomainName" }]
      }
    },
    "HasDNS": {
      "Fn::And": ["HasDomain", "HasDnsDomain"]
    }
  },
  "Resources": {
    "{{APP_PREFIX}}SG": {
      "Type": "ALIYUN::ECS::SecurityGroup",
      "Properties": {
        "VpcId": { "Ref": "VpcId" },
        "SecurityGroupName": "cloud-forge-{{APP_ID}}",
        "SecurityGroupIngress": {{APP_SECURITY_GROUP_INGRESS_BLOCK}}
      }
    },
    "{{APP_PREFIX}}Instance": {
      "Type": "ALIYUN::ECS::Instance",
      "Properties": {
        "ImageId": { "Ref": "ImageId" },
        "InstanceType": { "Ref": "InstanceType" },
        "KeyPairName": { "Ref": "KeyPairName" },
        "VSwitchId": { "Ref": "VSwitchId" },
        "SecurityGroupId": { "Ref": "{{APP_PREFIX}}SG" },
        "SystemDiskSize": { "Ref": "DiskSize" },
        "SystemDiskCategory": "cloud_efficiency",
        "InternetMaxBandwidthOut": 0,
        "UserData": {
          "Fn::Sub": "#!/bin/bash\nset -euxo pipefail\nexport CLOUD_FORGE_CADDY_TLS_MODE=${CaddyTlsMode}\nexport CLOUD_FORGE_DOMAIN_NAME=${DomainName}\nexport CLOUD_FORGE_CADDY_EMAIL=${CaddyEmail}\n{{APP_SECRET_USERDATA_ALIYUN}}curl -fsSL https://cdn.jsdelivr.net/gh/CoreNovaLabs/cloud-forge-catalog@main/scripts/aliyun/bootstrap-app.sh -o /tmp/cf-bootstrap.sh\nif ! grep -q CLOUD_FORGE_DOMAIN_NAME /tmp/cf-bootstrap.sh; then\n  curl -fsSL https://cdn.jsdelivr.net/gh/CoreNovaLabs/cloud-forge-catalog@{{CATALOG_CDN_REF}}/scripts/aliyun/bootstrap-app.sh -o /tmp/cf-bootstrap.sh\nfi\nbash /tmp/cf-bootstrap.sh {{APP_ID}}\n"
        },
        "Tags": [
          { "Key": "Name", "Value": "cloud-forge-{{APP_ID}}" },
          { "Key": "cloud-forge:app", "Value": "{{APP_ID}}" }
        ]
      }
    },
    "{{APP_PREFIX}}EIP": {
      "Type": "ALIYUN::VPC::EIP",
      "Properties": {
        "Bandwidth": 5,
        "InternetChargeType": "PayByTraffic"
      }
    },
    "{{APP_PREFIX}}EIPAssociation": {
      "Type": "ALIYUN::VPC::EIPAssociation",
      "Properties": {
        "AllocationId": { "Ref": "{{APP_PREFIX}}EIP" },
        "InstanceId": { "Ref": "{{APP_PREFIX}}Instance" }
      }
    },
    "{{APP_PREFIX}}DNS": {
      "Type": "ALIYUN::DNS::DomainRecord",
      "Condition": "HasDNS",
      "DependsOn": ["{{APP_PREFIX}}EIPAssociation"],
      "Properties": {
        "DomainName": { "Ref": "DnsDomainName" },
        "RR": { "Ref": "DnsRR" },
        "Type": "A",
        "Value": { "Fn::GetAtt": ["{{APP_PREFIX}}EIP", "EipAddress"] },
        "TTL": 600
      }
    }
  },
  "Outputs": {
    "ServiceURL": {
      "Description": "Primary endpoint for {{APP_ID}}.",
      "Value": {{APP_SERVICE_URL_VALUE}}
    },
    "DomainName": {
      "Description": "Custom domain when configured.",
      "Value": { "Ref": "DomainName" }
    },
    "PublicIP": {
      "Description": "Elastic IP address assigned to the service.",
      "Value": { "Fn::GetAtt": ["{{APP_PREFIX}}EIP", "EipAddress"] }
    },
    "InstanceId": {
      "Description": "Created ECS instance ID.",
      "Value": { "Ref": "{{APP_PREFIX}}Instance" }
    }
  }
}
